/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; 
}

.tableTitle {
  grid-column: span 7;
  text-align: center;
}

.headerContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.table {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.tableHeader {
  font-weight: bold;
  text-align: left;
}

.tableRow {
  display: contents;
}

.overlayWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Ensure it appears above other content */
}

.overlayCard {
  max-width: 500px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.overlayContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.overlayLabel {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: bold;
}